<!-- source/flats/show.html.erb -->

<!-- Read from data.flats with owner key -->
<% flat = data.flats[owner] %>


<div class="banner banner-thin" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path flat.picture %>');">
</div>

<!-- Inject flat data in template -->
<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-1">
      <div class="header-flat-details">

        <div class="header-flat-owner text-center">
          <%= image_tag flat.owner_picture, class: "avatar-large" %>
          <p><%= flat.owner_name %></p>
        </div>

        <div class="header-flat-name">
          <h1><%= flat.summary %></h1>
          <p><%= flat.city %></p>
        </div>

      </div>
    </div>
    <div class="col-xs-12 col-sm-4 ">
      <form action="#" class="wrapper-grey">
        <h4>Book this flat</h4>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-6">
              <input type="text" class="form-control" placeholder="Check-in">
            </div>
            <div class="col-xs-6">
              <input type="text" class="form-control" placeholder="Check-out">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


